@keyframes animodal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  &-wrap {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    z-index: 1000;
    animation-name: animodal;
    animation-duration: 0.5s;
  }

  &-block {
    position: relative;
    width: 880px;
    height: 940px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2.613px 24.863px 70px 0px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    display: flex;
    justify-content: center;
  }

  &-content {
    padding: 95px;
    display: flex;
    flex-direction: column;

    &__title {
      margin-top: 0;
      font-size: 32px;
      font-family: "PF Din Display Pro Medium";
      color: $purple;
      max-width: 520px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 32px;
      margin: 0;
    }

    &__list {
      &-item {
        font-size: 20px;
        line-height: 35px;

        &:nth-child(1) {
          margin-bottom: 35px;
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    & span {
      width: 30px;
      height: 2px;
      display: block;
      background-color: black;
    }

    & span:nth-child(1) {
      transform: rotate(45deg) translate(11px, 10px);
    }

    & span:nth-child(2) {
      transform: rotate(-45deg) translate(-8px, 10px);
    }
  }
}